<html>
<head>
  <title>INSIGHT</title>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</head>
<body>
  <button onclick="getDatasetList()">Get datasets</button>
  <button onclick="loadAndGroupDataset()">Load and Group datasets</button>
  <button onclick="sampleAQuery()">Sample a query</button>
  <button onclick="findMatch()">Find match</button>
  <button onclick='findMatchWithUploadedQuery()'>Find match with uploaded query</button>

  <h1>Upload new File</h1>
  <form action="/query/upload" method=post enctype=multipart/form-data>
    <p><input type=file name=query>
      <input type=submit value=Upload>
  </form>

  <div id="output"></div>
</body>
</html>

