 /* ---------->>> GLOBAL <<<-----------*/
body {
  background: #FFF;
  font-family: "Helvetica Neue",sans-serif, Helvetica, Arial;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}
.insightPlatform {
  height: 100%;
  border: 0%;
  margin: 0;
}
 /* ---------->>> BANNER <<<-----------*/
div.insightBanner {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgba(230, 230, 230, 0.35);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
}
h1.insightBanner {
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
  border-bottom: none;
  margin: 0;
}
 /* ---------->>> CONTROLPANEL <<<-----------*/
div.controlPanel {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 76px;
  height: inherit;
  max-height: 90%;
  /*
  background-color: #829db4;
  background-color: rgba(71, 70, 68, 0.35);
  */
  background-color: #f2f2f2;
  border-color: black;
  color: #666;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(200,200,200,0.75);
  -moz-box-shadow: 1px 0px 0px 0px rgba(200,200,200,0.75);
  box-shadow: 1px 0px 0px 0px rgba(200,200,200,0.75);
  overflow-y: scroll;
  padding-bottom: 100px;
}
div.section {
  margin-right: 15px;
  margin-left: 15px;
}


 /* ---------->>> TABS <<<-----------*/
div.controlPanelTabPane {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
div.tabSingleWrapper {
  height: 50px;
  float: left;
  transition-timing-function: ease;
  transform-origin:left;
  -webkit-transition: all 0.4 s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow 0.4s, color 0.4s, width 0.4s, background 0.4s, font-size 0.4s;
  box-shadow: inset 0 0 0 0 #c2c2d6;
}
div.tabSingleWrapper.selected {
  width: 50%;
  font-size: 1.1em;
}
div.tabSingleWrapper.notselected {
  width: 25%;
  font-size: 0.7em;
  background-color: rgba(63, 81, 181, 0.3); /*rgba(250, 250, 250, 0.25);*/
}
div.tabSingleWrapper:hover {
  box-shadow: inset 200px 0 0 0 #c2c2d6;
}
div.notselected {
  font-style: italic;
}
/* ---------->>> OPTIONS:CONTROLPANEL <<<-----------*/
div.options {
  box-shadow: inset 0 0 0 0 #c2c2d6;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  padding: 3px;
}
div.iconWrapper {
  float: left;
  margin-right: 10px;
}
h4 {
  font-weight: lighter;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(63, 81, 181, 0.3);
}
h3 {
  margin: 5px;
  font-weight: lighter;
  text-align: center;
}
h2 {
  font-weight: lighter;
  text-align: left;
  font-size: 1.3em;
  border-bottom: 1px solid #AAA;
}
input {
  margin-right: 10px;
  margin-left: 25px;
}
.sliderDiv {
  align-self: center;
  text-align: center;
}
.panel {
  padding: 0px 0px 1px 1px;
  border-radius: 2px;
  margin-bottom: 2px;
  color: black;
  background-color: #eceff1; /*rgba(89, 90, 92, 1); /* a dark grey */
  -webkit-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
}

/* ---------->>> BUTTONS <<<-----------*/
.insightButton {
  opacity: 0.7;
  background: white;
  color: grey;
  font-size: 0.9em;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
}

.insightButton:hover {
  opacity: 1;
  background: #a9a9a9;
  color:white;
}

.insightButton:active {
  background-image: -webkit-linear-gradient(top, #c2c2d6, #a9a9a9);
}

/* ---------->>> CHARTS <<<-----------*/

.containerD3 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}
.legend {
  visibility: hidden;
}
