 /* ---------->>> GLOBAL <<<-----------*/
 @font-face {
   font-family: Avenir;
   src: "{{ url_for('static', filename='resources/AvenirLTStd-Book.otf') }}" format("opentype");
 }

 @font-face {
   font-family: Avenir;
   font-weight: light;
   src: "{{ url_for('static', filename='resources/AvenirLTStd-Light.otf') }}" format("opentype");
 }

body {
  background: #FFF;
  font-family: "Helvetica Neue",sans-serif, Helvetica, Arial;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}
.insightPlatform {
  height: 100%;
  border: 0%;
  margin: 0;
  overflow-y: hidden;
}
 /* ---------->>> BANNER <<<-----------*/
div.insightBanner {
  font-family: "Avenir";
  position: relative;
  z-index: 5;
  width: 100%;
  left: 0;
  background-color: #58768f; /*rgba(230, 230, 230, 0.35);*/
  -webkit-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
}
 /* ---------->>> CONTROLPANEL <<<-----------*/
div.controlPanel {
  position: fixed;
  top: 76px;
  height: inherit;
  max-height: 90%;
  overflow: scroll;
  /*
  background-color: #829db4;
  background-color: rgba(71, 70, 68, 0.35);
  */
  background-color: #f2f2f2;
  border-color: black;
  color: black; /* #666; */
  -webkit-box-shadow: 1px 0px 0px 0px rgba(200,200,200,0.75);
  -moz-box-shadow: 1px 0px 0px 0px rgba(200,200,200,0.75);
  box-shadow: 1px 0px 0px 0px rgba(200,200,200,0.75);
  overflow-y: scroll;
  padding-bottom: 100px;
}
div.section {
  margin-right: 15px;
  margin-left: 15px;
}


 /* ---------->>> TABS <<<-----------*/
div.controlPanelTabPane {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
div.tabSingleWrapper {
  height: 50px;
  float: left;
  transition-timing-function: ease;
  transform-origin:left;
  -webkit-transition: all 0.3 s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow 0.3s, color 0.3s, width 0.3s, background 0.3s, font-size 0.3s;
  box-shadow: inset 0 0 0 0 #bbcddb; /* #a3cfec;*/
}
div.tabSingleWrapper.selected {
  width: 65%;
  font-size: 1.1em;
}
div.tabSingleWrapper.notselected {
  width: 35%;
  font-size: 0.7em;
  background-color: #e5e5e5 /*#e2b6b3 /*rgba(63, 81, 181, 0.3); /*rgba(250, 250, 250, 0.25);*/
}
div.tabSingleWrapper:hover {
  box-shadow: inset 200px 0 0 0 #bbcddb;
}
div.notselected {
  font-style: italic;
}
/* ---------->>> OPTIONS:CONTROLPANEL <<<-----------*/
div.options {
  box-shadow: inset 0 0 0 0 #a3cfec;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  padding: 3px;
}
div.iconWrapper {
  float: left;
  margin-right: 10px;
}
h4 {
  font-weight: 200;
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 3px;
  border-bottom: 1px solid #AAA;
}
h4.query {
  font-weight: 200;
  font-size: 1.1em;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-left: 10px;
}
h3 {
  margin: 5px;
  font-weight: 200;
  text-align: center;
}
h2 {
  font-weight: 200;
  text-align: left;
  font-size: 1.3em;
  border-bottom: 1px solid #AAA;
}
input {
  margin-right: 10px;
  margin-left: 25px;
}
.sliderDiv {
  align-self: center;
  text-align: center;
}


.panel {
  padding: 0px 0px 1px 1px;
  border-radius: 2px;
  margin-bottom: 2px;
  color: black;
  background-color: #eceff1; /*rgba(89, 90, 92, 1); /* a dark grey */
  -webkit-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
}

/* ---------->>> BUTTONS <<<-----------*/
.insightButton {
  opacity: 0.7;
  background: white;
  color: black; /* grey; */
  font-size: 0.9em;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
  box-shadow: 0px 1px 2px 0px rgba(169,169,169,1);
}

.insightButton:hover {
  opacity: 1;
  background: #a9a9a9;
  color:white;
}

.insightButton:active {
  background: #a3cfec; /*-webkit-linear-gradient(top, #a3cfec, #a9a9a9);*/
}

/* ---------->>> ICONS <<<-----------*/
i.menu {
  color: black;
  padding-right: 5px;
  opacity: .55;
}
i.focus {
  color: #8aa6bb;
  opacity: 0.85;
}
i.menu:hover {
  opacity: 1;
}
i.menu:active {
  color: #58768f;
}
